.vertical-space {
    height: 30px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
}

/**
 * == columns==
 */

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-12 {
    width: 100%;
}

/**
 * == general view ==
 */

.jcs_cucj_view-title {
    margin-bottom: 1.5rem !important;
}

.jcs_cucj_view-footer {
    margin-top: 15px;
}

/**
 * == list ==
 */

.jcs_cucj_list {
    width: 800px;
    background-color: #fff;
    font-size: 15px;
}

.jcs_cucj_list-item {
    border-bottom: 1px solid #000;
}

.jcs_cucj_list-item:last-child {
    border-bottom: 0px solid #000;
}

.jcs_cucj_list-item > div {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.jcs_cucj_list-item button {
    margin-left: 10px;
}

.jcs_cucj_list-item-media_query {
    padding-left: 5px;
    color: #999;
}

/**
 * == input form ==
 */

.jcs_cucj_form .label {
    font-weight: bold;
    min-width: 200px;
}

.jcs_cucj_form tbody {
    margin-bottom: 1.5rem;
}

.jcs_cucj_form input {
    width: 500px;
}

.jcs_cucj_form input,
.jcs_cucj_form textarea {
    max-width: 100%;
}
