.vertical-space {
    height: 30px;
}

.jcs_cucj_view-title {
    margin-bottom: 1.5rem !important;
}

.jcs_cucj_form .label {
    font-weight: bold;
    min-width: 200px;
}

.jcs_cucj_form tbody {
    margin-bottom: 1.5rem;
}
